body {
    user-select: none;
    background-image: url("./assets/bg_top.jpg");
    backdrop-filter: saturate(5);
    background-position: top;
    mix-blend-mode: difference;
}

* {
    color: white;
}

img.logo {
    width: 12em;
    height: auto;
    aspect-ratio: 1/1;
}

h1 {
    font-style: italic;
}
